* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: auto 17vw;
}

.card {
    background-color: white;
    display: inline-block;
    padding: 10px;
}

img {
    width: 300px;
}

.img {
    width: 300px;
    position: relative;
    display: inline-block;
}

.label {
    color: white;
    position: absolute;
    bottom: 15px;
    left: 0px;
    padding: 5px;
    font-size: 9px;
}

.discount {
    background-color: red;
}    

.sust {
    background-color: green;
    left: 50px;
}

.heart {
    color: black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 7px;
    font-size: 15px;
}

.brand, .name {
    display: block;
}

.imgtop {
    display: none;
}

.card:hover .imgbase{
    display: none;
}

.card:hover .imgtop{
    display: initial;
}

.brand {
    font-size: 11px;
}

.name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.price, .saled {
    font-size: 12px;
}

.saled {
    color: red;
}

.price {
    text-decoration: line-through;
    color: rgb(85, 85, 85);
}
