* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* centratura delle sezioni */
.row {
    max-width: 1024px;
    margin: 0 auto;
}

/* struttura delle card  */
.card {
    background-color: white;
    display: inline-block;
    padding: 10px;
}

/* ridimensionamento immagini */
img {
    max-width: 100%;
}

/* blocco contenente immagini all'interno della card */
.img {
    width: 300px;
    position: relative;
}

/* etichette sconto, sostenibilità e like */
.label {
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.discount, .sust {
    padding: 4px;
    font-size: 9px;
    color: white;
}

.discount {
    background-color: red;
}    

.sust {
    background-color: green;
}

.heart {
    color: black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 7px;
    font-size: 15px;
}

/* style della didascalia */
.brand, .name {
    display: block;
}

.brand {
    font-size: 11px;
}

.name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.price, .saled {
    font-size: 12px;
}

.saled {
    color: red;
}

.price {
    text-decoration: line-through;
    color: rgb(85, 85, 85);
}

/* hover delle immagini */
.imgtop {
    display: none;
}

.card:hover .imgbase{
    display: none;
}

.card:hover .imgtop{
    display: initial;
}